.constructor-section {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.constructor-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: .3s all;
}

.elements {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 48vh;
    overflow-y: auto;
}

.item {
    margin-right: 8px;
    cursor: move;
    animation: fadeIn .2s linear;
}

.item:not(:last-child) {
    margin-bottom: 12px;
}

.result {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    margin-top: auto;
    margin-bottom: -10px;
}

.total {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.top {
    margin-left: 30px;
    max-width: 513px;
}

.drop {
    animation: drophere 2s infinite ease-out ;
    background: rgba(156, 214, 156, 0.341);
}

.helper {
    height: 48vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    text-align: center;
    background: #1C1C21;
    border: 1px dashed rgb(7, 75, 147);
    box-shadow: 0px 0px 12px 8px rgba(51, 51, 255, 0.25), 0px 0px 4px 4px rgba(51, 51, 255, 0.25);
    animation: pulse 2.6s infinite linear;
}

.dnone {
    display: none;
}

.fadeIn {
    animation: fadeIn .2s linear;
}

@keyframes drophere {
    0% {
        transform: Scale(0.8);
    }
    50% {
        transform: Scale(1);
    }
    100% {
        transform: Scale(0.8);
    }
}

@keyframes pulse {
	0% {
		box-shadow: 0px 0px 12px 8px rgba(51, 51, 255, 0.25), 0px 0px 4px 4px rgba(51, 51, 255, 0.25);
	}
	50% {
		box-shadow: 0px 0px 12px 8px rgba(215, 215, 244, 0.25), 0px 0px 4px 4px rgba(132, 132, 224, 0.25);
	}
	100% {
		box-shadow: 0px 0px 12px 8px rgba(51, 51, 255, 0.25), 0px 0px 4px 4px rgba(51, 51, 255, 0.25);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1;
	}
}