.constructor-section {
    padding-top: 100px;
}

.constructor-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: .3s all;
}

.elements {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 48vh;
    overflow-y: auto;
}

.item {
    margin-right: 8px;
    cursor: move;
}

.item:not(:last-child) {
    margin-bottom: 12px;
}

.result {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    margin-top: 40px;

}

.total {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.top {
    margin-left: 30px;
    max-width: 513px;
}

.drop {
    animation: drophere 2s infinite ease-out ;
    background: rgba(156, 214, 156, 0.341);
}

@keyframes drophere {
    0% {
        transform: Scale(0.8);
    }
    50% {
        transform: Scale(1);
    }
    100% {
        transform: Scale(0.8);
    }
}
