.overlay {
    composes: overlay from "../spinner/spinner.module.css";
}

.wrapper {
    composes: wrapper from "../spinner/spinner.module.css";
    flex-direction: column;
    gap: 15px
    
}
.link {
    color: #ffffff;
    font-size: 26px;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.error {
    margin: 30px 0 10px 0;
    padding: 10px;
    color: #E52B1A;
    border: 1px solid #E52B1A;
    border-radius: 10px;
    animation: fadeIn .3s linear;
}

.fadeIn {
    animation: fadeIn .3s linear;
}



@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1;
	}
}
