.overlay {
    composes: overlay from "../spinner/spinner.module.css";
}

.wrapper {
    composes: wrapper from "../spinner/spinner.module.css";
    flex-direction: column;
    gap: 15px
    
}
.link {
    color: #ffffff;
    font-size: 26px;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}
