.overlay {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 32, 67, 0.8);
}

.wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.spinner {
    animation: loader  1.2s linear infinite;
    display: block;
}

.loading {
    display: inline-block;
    clip-path: inset(0 3ch 0 0);
    animation: l 1.3s steps(4) infinite;
}
  


@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


  
@keyframes l {
    to {
        clip-path: inset(0 -1ch 0 0);
    }
}