.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}

.link {
    color: #4C4CFF;
    text-decoration: none;
    transition: .5s all;
}

.link:hover {
    color: #8585AD
}