@import url(./fonts/fonts.css);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background: #131316;
  margin: 0;
  font-family: 'JetBrains Mono', 'Roboto',sans-serif;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8585AD #2F2F37;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #2F2F37;
}

*::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  border-radius: 0px;
}

