.header {
    background: #1C1C21;
    height: 88px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 
                0px 16px 24px 0px rgba(0, 0, 0, 0.04), 0px 24px 32px 0px rgba(0, 0, 0, 0.04);
}

.header a { 
    color: #8585AD;
    transition: 0.5s;
    text-decoration: none;
}

.header a:hover { 
    color: #F2F2F3;
}

.nav {
    position: relative;
    margin: 0 auto;
    max-width: 1260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.menu li {
    padding: 16px 20px 16px 16px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.link ::after {
    content: '';
    position: absolute;
    bottom: -5px;
    display: block;
    height: 1px;
    width: 0;
    background: #F2F2F3;
    transition: .6s width;
}

.link :hover::after {
    width: calc(100% - 33px);
    transition: .6s width;
}

.link svg{
    transition: all 0.4s;
}

.link:hover svg{
    fill: #F2F2F3;
}

.logo {
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logout {
    position: absolute;
    top: 4px;
    left: -10px;
    color:#F2F2F3;
    background: none;
    border: none;
    padding-inline: 0;
    padding-block: 0;
    display: block;
}

.logout svg {
    cursor: pointer;
    transition: all 0.4s;
}

.logout:hover svg {
    fill: #E52B1A;
}

.logout:hover::before {
    content: "Выйти";
    display: flex;
    position: absolute;
    top: 45%;
    left: 30px;
    transform: translateY(-50%);
    width: 70px;
    height: 25px;
    background: #000;
    justify-content: center;
    align-items: center;
    border-radius: 20%;

}

.active span {
    color: #F2F2F3;
}


